header {
  background-color: #2d363a;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%; /* Zmiana na 100%, aby rozciągać się na całą szerokość ekranu */
  max-width: 380px; /* Maksymalna szerokość dla większych ekranów */
  display: flex;
  justify-content: center;
}

#map-container {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assets/image.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%; /* Ustawione na 100% dla lepszej responsywności */
  max-width: 390px; /* Maksymalna szerokość dla zachowania proporcji */
  height: 700px;
  aspect-ratio: 9 / 16; /* Zachowanie proporcji obrazu */
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  fill: #fbf8bf !important;
}

.box {
  width: 77%; /* Aby element 'box' był responsywny */
  max-width: 390px; /* Maksymalna szerokość dla zachowania czytelności */
  margin-top: 10px;
  padding: 40px; /* Zmniejszona wartość paddingu dla mniejszych ekranów */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

.box h2 {
  margin-top: 0;
  color: #333333; /* Dark grey color for text */
  font-size: 20px; /* Adjust the size as necessary */
  font-weight: bold;
}

.box hr {
  border: none;
  height: 1px;
  background-color: #cccccc; /* Light grey line */
  margin: 10px 0; /* Spacing above and below the line */
}

.box p {
  color: #666666; /* Medium grey for the paragraph */
  font-size: 17px; /* Adjust the size as necessary */
}

.box ul {
  list-style: none; /* Removing bullet points */
  padding: 0;
  margin: 10px 0; /* Spacing above and below the list */
}

.box ul li {
  color: #333333; /* Dark grey for list items */
  font-size: 15px; /* Adjust the size as necessary */
  line-height: 1.6; /* Spacing between lines */
}

.box button {
  background-color: #007bff; /* Blue background for the button */
  color: #ffffff; /* White text for the button */
  border: none;
  padding: 10px 20px;
  text-transform: uppercase; /* Uppercase button text */
  font-weight: bold;
  border-radius: 5px; /* Rounded corners for the button */
  cursor: pointer; /* Hand cursor on hover */
  margin-top: 10px; /* Spacing above the button */
}

.box button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

  
nav {
  display: flex; /* Zmiana na flex, aby lepiej zarządzać przestrzenią */
  flex-wrap: wrap; /* Pozwala elementom przechodzić do nowej linii */
  padding: 10px;
  justify-content: center; /* Wyśrodkowanie przycisków na mniejszych ekranach */
}
  
nav button {
  background-color: #2d363a;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
  
nav button:hover {
  background-color: #458fa0;
}

  p {
    color: azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    padding-right: 10px;
  }

  /* Styl dla ścieżek */
#map-container svg path {
  stroke: #007bff; /* Jasny niebieski dla lepszej widoczności */
  stroke-width: 4; /* Grubsze linie dla lepszej widoczności */
}

/* Styl dla prostokątów */
#map-container svg rect {
  fill: #f8f9fa; /* Jasne tło */
  stroke: #007bff; /* Niebieskie obramowanie */
  stroke-width: 2; /* Cieńsze linie dla subtelności */
  transition: fill 0.3s ease; /* Gładkie przejście koloru tła */
}

/* Styl dla tekstu */
#map-container svg text {
  fill: #343a40; /* Ciemniejszy kolor dla lepszej czytelności */
  font-size: 14px; /* Dostosowany rozmiar czcionki */
  font-family: Arial, sans-serif; /* Nowoczesna czcionka */
}

/* Styl dla efektów hover na prostokątach */
#map-container svg rect:hover {
  fill: #007bff; /* Zmiana koloru tła przy najechaniu */
  cursor: pointer; /* Kursor wskazujący interaktywność */
}

/* Styl dla 'flash' - dynamiczny efekt dla ważnych punktów */
.flash {
  fill: red; /* Bardziej intensywny kolor */
  animation: flash 1.5s infinite; /* Dłuższa animacja dla lepszej widoczności */
}

/* Zachowanie animacji 'flash' */
@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; } /* Lżejsze zanikanie dla subtelnego efektu */
}

